# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# 打包的pack cache
unpackage/cache
unpackage/release

# 不上传相关的npm包
03_webpack_ts/node_modules
